pipeline/set variable.json
{
	"name": "set variable",
	"properties": {
		"activities": [
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "Input_var",
					"value": "1"
				}
			},
			{
				"name": "Append variable1",
				"type": "AppendVariable",
				"dependsOn": [
					{
						"activity": "Set variable1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "Append_list",
					"value": {
						"value": "@variables('Input_var')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set variable2",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Append variable1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "Input_var",
					"value": "1000"
				}
			},
			{
				"name": "Append variable2",
				"type": "AppendVariable",
				"dependsOn": [
					{
						"activity": "Set variable2",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "Append_list",
					"value": {
						"value": "@variables('Input_var')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set variable3",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Append variable2",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "final append list",
					"value": {
						"value": "@variables('Append_list')",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"Input_var": {
				"type": "String"
			},
			"Append_list": {
				"type": "Array"
			},
			"final append list": {
				"type": "Array"
			}
		},
		"annotations": [],
		"lastPublishTime": "2026-04-01T11:49:49Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}